<div class="bg-white">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name, class: "block mar-b-1" %><br />
    <%= f.text_field :first_name, autofocus: true, class: "block w-100 no-outline no-border pad-1 mar-b-2" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :last_name, class: "block mar-b-1" %><br />
    <%= f.text_field :last_name, autofocus: true, class: "block w-100 no-outline no-border pad-1 mar-b-2" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email, class: "block mar-b-1"%><br />
    <%= f.email_field :email, autofocus: true, class: "block w-100 no-outline no-border pad-1 mar-b-2" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password, class: "block mar-b-1" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "block mar-b-1" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
