<nav class="breadcrumb bg-white" style="text-align:center;">
	<%= link_to "Home", posts_path %> / Photo details
</nav>
<% @user =  User.find(@post.user_id) %>
<div class="image_container">
	<h2 style="color:#06447f;"><%= @post.title %></h2>
  <section class="image-show">
    <% if user_signed_in? &&  current_user.id==@user.id %>
	   <%= image_tag cf_url(@post.image.path(:large))%>
    <% end %>
  </section>

  <!-- List the image description, upload, update time with user first name and last name -->

  <aside class="entry-stub bg-white" >
     <p> Created by:   <%= @user.first_name %>  <%= @user.last_name %> </p><br>
     <p>Description:   <% if  @post.body %><%= @post.body %><% else %> *** NOTHING ***<% end %> </p><br>
    <p>File Upload Time:  <%= @post.created_at.strftime("On %m/%d/%Y  at %I:%M%p") %></p><br>
    <p>File Updated Time:  <%= @post.updated_at.strftime("On %m/%d/%Y  at %I:%M%p") %></p><br>
    <p>Image Updated Time:  <%= @post.image_updated_at.strftime("On %m/%d/%Y  at %I:%M%p") %></p>


    <!-- Provide access to edit the image, delete or download for privileged users alone -->
    <% if user_signed_in? &&  current_user.id==@user.id %>
    <ul class="bg-white no-bullets no-padding mar-t-2">
    	<li class="pipe-separate left"><%= link_to "Edit", edit_post_path(@post) %> </li>
      <li class="pipe-separate left"><%= link_to "Delete", @post, :method => :delete %> </li>
      <li class="pipe-separate left"><a href="<%=  cf_url(@post.image.path(:large)) %>" download> Download </a></li>
      <% end %>
    </ul>
  </aside>
</div>

